@using System.Security.Claims
@model WebApp.Models.ViewModels.CompraVM
@{
    ViewData["Title"] = "Registrar Compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Compras</h1>

<hr>
<a class="btn btn-primary" asp-controller="Compra" asp-action="Create">Nueva Compra</a>
<hr>
@if (ViewBag.SearchNotFound != null)
{
    <div class="alert alert-danger">
        @ViewBag.SearchNotFound
    </div>
}
<form class="d-flex" asp-action="Filter" asp-controller="Compra" method="get">

    <select class="form-select-sm m-1" name="selectOption" id="filterOption" onchange="updateInputType()">
        <option value="1">Fecha</option>
        <option value="2">Nombre</option>
        <option value="3">Mas comprados</option>
    </select>

    <div class="m-1 w-300">
        <input class="form-control me-2" type="text" id="searchInput" name="search" placeholder="Buscar..." aria-label="Search">
    </div>
    
    <button class="btn btn-outline-primary m-1" type="submit">Buscar</button>
   
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model.Paginado.Items.Where(c => c.UsuarioId == int.Parse(User.FindFirst(ClaimTypes.NameIdentifier)?.Value)))
        {
            <tr>
                <td>@c.Producto?.Nombre</td>
                <td>@c.Fecha.ToShortDateString()</td>
                <td>@c.Cantidad</td>
                <td>
                    <div class="d-flex">
                         <a class="btn btn-sm btn-warning mx-2" asp-action="Edit" asp-controller="Compra" asp-route-compraId="@c.CompraId">Editar</a>
                         <form asp-action="Delete" asp-controller="Compra" method="post" onsubmit="return confirmDelete()">
                             <input type="hidden" name="compraId" value="@c.CompraId" />
                             <button type="submit" class="btn btn-sm btn-danger">Borrar</button>
                         </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @if (Model.Paginado.PaginaActual > 1)
    {
        <a class="btn btn-primary btn-sm" asp-action="Index" asp-route-pagina="@(Model.Paginado.PaginaActual - 1)" asp-route-itemsPorPagina="@Model.Paginado.ItemsPorPagina">Anterior</a>
    }

    Página @Model.Paginado.PaginaActual de @Model.Paginado.TotalPaginas

    @if (Model.Paginado.PaginaActual < Model.Paginado.TotalPaginas)
    {
        <a class="btn btn-primary btn-sm" asp-action="Index" asp-route-pagina="@(Model.Paginado.PaginaActual + 1)" asp-route-itemsPorPagina="@Model.Paginado.ItemsPorPagina">Siguiente</a>
    }
</div>

@section Scripts {
    <script type="text/javascript">

        function confirmDelete() {
            return confirm('¿Está seguro de que desea eliminar este producto?');
        }
        
        function updateInputType() {
            var filterOption = document.getElementById('filterOption').value;
            var searchInput = document.getElementById('searchInput');

            switch (filterOption) {
                case '1':
                    searchInput.type = 'date';
                    break;
                case '2':
                    searchInput.type = 'text';
                    break;
                case '3':
                    searchInput.type = 'hidden';
                    break;
                default:
                    searchInput.type = 'text';
            }
        }

        // Seteo incial del input 
        updateInputType();
   
    </script>
}
