@model WebApp.Models.ViewModels.CompraVM
@{
    ViewData["Title"] = "Compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>ESTA ES LA SECCION DE COMPRAS DE LA WEB</h3>

<h5>
    @foreach(var c in Model.CompraLista)
    {
        <p>Bienvenido @c.Usuario.Nombre</p>
        
    }

</h5>

<a class="btn btn-primary" asp-controller="Compra" asp-action="CategoriaSelect">REGISTRAR UNA COMPRA NUEVA</a>

<ul>
    <table class="table">
         
        <thead>
            <tr>
                <th scope="col">CompraID</th>
                <th scope="col">producto</th>
                <th scope="col">cantidad</th>
                <th scope="col">fecha</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            @foreach (var c in Model.CompraLista)
            {
                <tr>
                    <td>@c.CompraId</td>
                    <td>@c.ProductoId</td>
                    <td>@c.Cantidad</td>
                    <td>@c.Fecha</td>
                    <td>
                        <a class=" btn btn-primary btn-sm" asp-action="Details" asp-controller="Compra" asp-route-CompraId="@c.CompraId">Editar</a>
                        <a class=" btn btn-danger btn-sm" asp-action="Delete" asp-controller="Compra" asp-route-CompraId="@c.CompraId">Eliminar</a>
                    </td>
                </tr>   
            }

        </tbody>

    </table>
    
</ul>