@using System.Security.Claims
@model WebApp.Models.ViewModels.CompraVM
@{
    ViewData["Title"] = "Registrar Compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool shouldShowFecha = true;
    foreach (var c in Model.Paginado.Items.Where(c => c.UsuarioId == int.Parse(User.FindFirst(ClaimTypes.NameIdentifier)?.Value)))
    {
        if (c.Fecha == DateTime.MinValue)
        {
            shouldShowFecha = false;
            break;
        }
    }
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<body>
    <div class="container-fluid user-select-none" style="margin-top : 3%">
        <h1>Compras</h1>
        <hr>
        <a class="btn btn-principe" asp-controller="Compra" asp-action="Create">Nueva Compra</a>
        <hr>
        <div class="col-lg-auto user-select-none">
            <div class="bs-component mb-3">
                <form class="d-flex" asp-action="Index" method="get">
                    <input class="form-control mx-2 rounded-5" type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Buscar..." />
                    <button class="btn btn-secondary mx-2" value="Search" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span style="padding-left: 5px;">
                            Buscar
                        </span>
                    </button>
                    <a class="btn btn-secondary" asp-action="Index" asp-route-refresh="true">
                        <i class="fa-solid fa-arrows-rotate"></i>
                        <span style="padding-left: 5px;">
                            Refrescar
                        </span>
                    </a>
                </form>
            </div>
            <div class="bs-component mb-3">
                <form class="d-flex" asp-action="Index"
                      asp-controller="Compra" method="get">
                    <select class="form-select-sm mx-2 rounded-4 user-select-none" name="selectOption" id="filterOption" onchange="updateInputType()">
                        <option value="1">Fecha</option>
                        <option value="2">Mas comprados</option>
                    </select>
                    <input class="form-control rounded-5 mx-2" type="text" id="searchInput" name="search" placeholder="Buscar..." aria-label="Search">
                    <button class="btn btn-secondary" type="submit">
                        <i class="fa-solid fa-filter"></i>
                        <span style="padding-left: 5px;">
                        Filtrar</span></button>
                    <input type="hidden" name="sortOrder" value="@ViewData["CurrentSort"]" />
                    <input type="hidden" name="SearchString" value="@ViewData["CurrentFilter"]" />
                    <input type="hidden" name="pagina" value="@(Model.Paginado.PaginaActual)" />
                </form>
            </div>
        </div>
        <div class="py-2 table-responsive rounded-5 user-select-none">
            <table class="table table-copete table-striped table-hover user-select-none">
                <thead class="table-headercopete table-hover rounded-5">
                    <tr>
                        <th scope="col" class="fixed-cell">
                            <a class="list-group-item list-group-item-action active"
                               asp-action="Index"
                               asp-route-sortOrder="@ViewData["NameSortParm"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               asp-route-pagina="@(Model.Paginado.PaginaActual)">
                                <i class="fa-solid fa-box-open"></i><span style="padding-left: 10px;">
                                    Producto
                                </span>
                            </a>
                        </th>
                        @if (shouldShowFecha)
                        {
                            <th scope="col">
                                <a class="list-group-item list-group-item-action active"
                                   asp-action="Index"
                                   asp-route-sortOrder="@ViewData["DateSortParm"]"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   asp-route-pagina="@(Model.Paginado.PaginaActual)">
                                    <i class="fa-solid fa-calendar-days"></i><span style="padding-left: 10px;">
                                        Fecha
                                    </span>
                                </a>
                            </th>
                        }
                        <th scope="col">
                            <a class="list-group-item list-group-item-action active"
                               asp-action="Index"
                               asp-route-sortOrder="@ViewData["AmmountSortParm"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               asp-route-pagina="@(Model.Paginado.PaginaActual)">
                                <i class="fa-solid fa-boxes-stacked"></i><span style="padding-left: 10px;">
                                    Cantidad
                                </span>
                            </a>
                        </th>
                        <th scope="col">
                            <a class="list-group-item list-group-item-action active"
                               asp-action="Index"
                               asp-route-sortOrder="@ViewData["StockSortParm"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               asp-route-pagina="@(Model.Paginado.PaginaActual)">
                                <i class="fa-solid fa-dolly"></i><span style="padding-left: 10px;">
                                    Stock
                                </span>
                            </a>
                        </th>
                        @if (shouldShowFecha)
                        {
                            <th scope="col">
                                <a class="list-group-item list-group-item-action disabled">
                                    <i class="fa-solid fa-ellipsis"></i><span style="padding-left: 10px;">
                                        Acciones
                                    </span>
                                </a>
                            </th>
                        }
                    </tr>
                </thead>
                <tbody class="datatable-body rounded-5">
                    @foreach (var c in Model.Paginado.Items.Where(c => c.UsuarioId == int.Parse(User.FindFirst(ClaimTypes.NameIdentifier)?.Value)))
                    {
                        <tr>
                            <td>@c.Producto?.Nombre</td>
                            @if (shouldShowFecha)
                            {
                                <td>@c.Fecha</td>
                            }
                            <td>@c.Cantidad</td>
                            <td>@(c.Producto?.Compras.Select(c => c.Cantidad).Sum() - c.Producto?.Venta.Select(c => c.Cantidad).Sum())</td>
                            @if (shouldShowFecha)
                            {
                                <td>
                                    <div class="d-flex">
                                        <a class="btn btn-sm btn-warning mx-2" asp-action="Edit" asp-controller="Compra" asp-route-compraId="@c.CompraId">
                                            <i class="fa-solid fa-pen"></i><span style="padding-left: 10px;">
                                                Editar
                                            </span>
                                        </a>
                                        <a class="btn btn-sm btn-principe mx-2" asp-action="RepetirCompra" asp-controller="Compra" asp-route-compraId="@c.CompraId">
                                            <i class="fa-solid fa-repeat"></i><span style="padding-left: 10px;">
                                                Repetir Compra
                                            </span>
                                        </a>
                                        <form asp-action="Delete" asp-controller="Compra" method="post" onsubmit="return confirmDelete()">
                                            <input type="hidden" name="compraId" value="@c.CompraId" />
                                            @*                             <button type="submit" class="btn btn-sm btn-danger">Borrar</button> *@
                                        </form>
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="text-center">
            @{
                var prevDisabled = !Model.Paginado.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.Paginado.HasNextPage ? "disabled" : "";
            }

            <a class="btn btn-secondary m-1 @prevDisabled"
               asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pagina="@(Model.Paginado.PaginaActual - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-selectOption="@ViewData["CurrentOption"]">
                <i class="fa-solid fa-angle-left"></i>
            </a>

            Página @Model.Paginado.PaginaActual de @Model.Paginado.TotalPaginas

            <a class="btn btn-secondary m-1 @nextDisabled"
               asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pagina="@(Model.Paginado.PaginaActual + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-selectOption="@ViewData["CurrentOption"]">
                <i class="fa-solid fa-angle-right"></i>
            </a>
        </div>

        @*     <div>
        @if (Model.Paginado.PaginaActual > 1)
        {
        <a class="btn btn-primary btn-sm" asp-action="Index" asp-route-pagina="@(Model.Paginado.PaginaActual - 1)" asp-route-itemsPorPagina="@Model.Paginado.ItemsPorPagina">Anterior</a>
        }

        Página @Model.Paginado.PaginaActual de @Model.Paginado.TotalPaginas

        @if (Model.Paginado.PaginaActual < Model.Paginado.TotalPaginas)
        {
        <a class="btn btn-primary btn-sm" asp-action="Index" asp-route-pagina="@(Model.Paginado.PaginaActual + 1)" asp-route-itemsPorPagina="@Model.Paginado.ItemsPorPagina">Siguiente</a>
        }
        </div> *@
    </div>
</body>

@section Scripts {
    <script type="text/javascript">

        function confirmDelete() {
            return confirm('¿Está seguro de que desea eliminar este producto?');
        }

        function updateInputType() {
            var filterOption = document.getElementById('filterOption').value;
            var searchInput = document.getElementById('searchInput');
            switch (filterOption) {
                case '1':
                    searchInput.type = 'date';
                    var now = new Date();//crea un nuevo objeto tipo datetime now
                    var formattedDate = now.toISOString().split('T')[0];//formatea la fecha para ignorar segundos blla bla
                    searchInput.value = formattedDate;//asigna la fecha actual como valor inicial
                    break;
                case '2':
                    searchInput.type = 'hidden';
                    searchInput.value = null;
                    shouldShowFechaField.value = 'true';
                    break;
            }
        }
        // Seteo incial del input 
        updateInputType();

    </script>
}
