@model WebApp.Models.ViewModels.VentaVM
@{
    ViewData["Title"] = "Registrar Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row user-select-none" style="margin-top:30px">
    <h1>Registrar Venta</h1>
    <hr>
    <div class="col-sm-12">
        <a class="btn btn-secondary btn-sm" asp-action="Index" asp-route-refresh="true" asp-controller="Venta"><i class="fa-solid fa-arrow-left"></i><span style="padding-left: 5px;">Volver</span></a>
    </div>
    <div class="col-sm-12 mt-3">
        <form asp-action="@(Model.VentaId == 0 ? "Create" : "Edit")" asp-controller="Venta" method="post">
            <input type="hidden" asp-for="VentaId" />
            <input type="hidden" asp-for="ProductoId" />
            @if (Model.VentaId == 0)
            {
                <div>
                    <span class="mx-2 align-text-top text-danger-emphasis campo-obligatorio" style="font-size:small;">(*)</span><label for="CategoriaSeleccionada"><i class="fa-solid fa-shapes"></i><span style="padding-left: 8px;">Seleccione una Categoría:</span></label>
                </div>
                <div>
                    <select class="form-control m-2 rounded-5" asp-for="CategoriaSeleccionada" asp-items="@(new SelectList(Model.CategoriaLista, "CategoriaId", "Nombre"))" onchange="this.form.submit()">
                        <option value="">Seleccione una categoría</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.CategoriaSeleccionada, "", new { @class = "text-danger" })
                </div>
                @if (Model.ProductoLista != null && Model.ProductoLista.Any())
                {
                    <div>
                        <span class="mx-2 align-text-top text-danger-emphasis campo-obligatorio" style="font-size:small;">(*)</span><label for="_Producto.ProductoId"><i class="fa-solid fa-box-open"></i><span style="padding-top:15px; padding-left: 8px;">Seleccione un Producto:</span></label>
                    </div>
                    <div>
                        <select class="form-control m-2 rounded-5" asp-for="_Producto.ProductoId" asp-items="@(new SelectList(Model.ProductoLista, "ProductoId", "Nombre"))">
                            <option value="">Seleccione un producto</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.ProductoId, "", new { @class = "text-danger" })
                    </div>
                }
            }
            <div>
                <label class="mt-2 mx-4 form-label" asp-for="@Model.VentaLista."><i class="fa-solid fa-boxes-stacked"></i><span style="padding-left: 10px;">Cantidad</span></label>
                <input class="form-control form-control-sm mx-1 m-1 rounded-5" asp-for="Cantidad" type="number" min="1" max="1000000" />
                @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
            </div>
            <div class="mt-4 mx-2">
                <button type="submit" class="btn btn-principe"><i class="fa-solid fa-receipt"></i><span style="padding-left: 10px;">Registrar Venta</span></button>
            </div>
        </form>
    </div>
</div>
