@model WebApp.Models.ViewModels.VentaVM
@{
    ViewData["Title"] = "Registrar Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin-top:30px">
<h1>Registrar Venta</h1>

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">

        <form asp-action="@(Model.VentaId == 0 ? "Create" : "Edit")" asp-controller="Venta" method="post">
            <input type="hidden" asp-for="VentaId" />
            <input type="hidden" asp-for="ProductoId" />
            
            @if (Model.VentaId == 0)
            {
                <div>
                    <label for="CategoriaSeleccionada">Seleccione una Categoría:</label>
                </div>
                <div>
                    <select asp-for="CategoriaSeleccionada" asp-items="@(new SelectList(Model.CategoriaLista, "CategoriaId", "Nombre"))" onchange="this.form.submit()">
                        <option value="">Seleccione una categoría</option>                       
                    </select>
                    <span class="campo-obligatorio">(*) Campo Obligatorio</span>
                </div>

                @if (Model.ProductoLista != null && Model.ProductoLista.Any())
                {
                    <div>
                        <label for="_Producto.ProductoId">Seleccione un Producto:</label>
                    </div>
                    <div>
                        <select asp-for="_Producto.ProductoId" asp-items="@(new SelectList(Model.ProductoLista, "ProductoId", "Nombre"))">
                            <option value="">Seleccione un producto</option>                            
                        </select>
                        <span class="campo-obligatorio">(*) Campo Obligatorio</span>
                    </div>
                }

            }
            <div class="mb-2">
                <label class="form-label" asp-for="@Model.VentaLista.">Cantidad</label>
                <input class="form-control form-control-sm" asp-for="Cantidad" type="number" min="1" max="1000000" />
                @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
           </div>

            <button type="submit" class="btn btn-primary">Registrar Venta</button>            

        </form>
    </div>
</div>
</div>
