@using System.Security.Claims
@model WebApp.Models.ViewModels.VentaVM
@{
    ViewData["Title"] = "Registrar Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid user-select-none" style="margin-top : 3%">
    <h1>Bienvenido a la sección de Ventas</h1>
    <hr>
    <a class="btn btn-principe" asp-controller="Venta" asp-action="Create"><i class="fa-solid fa-receipt"></i><span style="padding-left: 10px;">Nueva Venta</span></a>
    <hr>
    <div class="col-lg-auto user-select-none">
        <div class="bs-component mb-3">
            <form class="d-flex" asp-action="Index" method="get">
                <input class="form-control mx-1 rounded-5" type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Buscar..." />
                <button class="btn btn-secondary mx-1" value="Search" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span style="padding-left: 5px;">
                        Buscar
                    </span>
                </button>
            </form>
        </div>
        <div class="bs-component mb-3">
            <form class="d-flex" asp-action="Index"
                  asp-controller="Venta" method="get">
                <input class="form-control rounded-5 mx-1" type="date" id="searchInput" name="search" placeholder="Buscar..." aria-label="Search" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                <button class="btn mx-1 btn-secondary" type="submit">
                    <i class="fa-solid fa-filter"></i>
                    <span style="padding-left: 5px;">
                        Filtrar
                    </span>
                </button>
                <a class="btn btn-secondary mx-1" asp-action="Index" asp-route-refresh="true">
                    <i class="fa-solid mx-5 fa-filter-circle-xmark"></i>
                    <span style="padding-top:45px;">
                        Borrar Filtros
                    </span>
                </a>
                <input type="hidden" name="sortOrder" value="@ViewData["CurrentSort"]" />
                <input type="hidden" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="hidden" name="pagina" value="@(Model.Paginado.PaginaActual)" />
                <input type="hidden" name="selectOption" value="2" />
            </form>
        </div>
        <div class="py-2 table-responsive rounded-5 user-select-none">
            <table class="table table-copete table-striped table-hover user-select-none">
                <thead class="table-headercopete table-hover rounded-5">
                    <tr>
                        <th scope="col" class="fixed-cell">
                            <a class="list-group-item list-group-item-action active"
                               asp-action="Index"
                               asp-route-sortOrder="@ViewData["NameSortParm"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               asp-route-pagina="@(Model.Paginado.PaginaActual)">
                                <i class="fa-solid fa-box-open"></i><span style="padding-left: 10px;">
                                    Producto
                                </span>
                            </a>
                        </th>
                        <th scope="col">
                            <a class="list-group-item list-group-item-action active"
                               asp-action="Index"
                               asp-route-sortOrder="@ViewData["DateSortParm"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               asp-route-pagina="@(Model.Paginado.PaginaActual)">
                                <i class="fa-solid fa-calendar-days"></i><span style="padding-left: 10px;">
                                    Fecha
                                </span>
                            </a>
                        </th>
                        <th scope="col">
                            <a class="list-group-item list-group-item-action active"
                               asp-action="Index"
                               asp-route-sortOrder="@ViewData["AmmountSortParm"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               asp-route-pagina="@(Model.Paginado.PaginaActual)">
                                <i class="fa-solid fa-boxes-stacked"></i><span style="padding-left: 10px;">
                                    Cantidad
                                </span>
                            </a>
                        <th scope="col">
                            <a class="list-group-item list-group-item-action disabled">
                                <i class="fa-solid fa-ellipsis"></i><span style="padding-left: 10px;">
                                    Acciones
                                </span>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var v in Model.Paginado.Items.Where(v => v.UsuarioId == int.Parse(User.FindFirst(ClaimTypes.NameIdentifier)?.Value)))
                    {
                        <tr>
                            <td>@v.Producto?.Nombre</td>
                            <td>@v.Fecha.ToShortDateString()</td>
                            <td>@v.Cantidad</td>
                            <td>
                                <div class="d-flex">
                                    <a class="btn btn-sm btn-warning mx-2" asp-action="Edit" asp-controller="Venta" asp-route-ventaId="@v.VentaId">
                                        <i class="fa-solid fa-pen"></i><span style="padding-top: 8px;">
                                            Editar
                                        </span>
                                    </a>
                                    <form asp-action="Delete" asp-controller="Venta" method="post" onsubmit="return confirmDelete()">
                                        <input type="hidden" name="ventaId" value="@v.VentaId" />
                                        <button type="submit" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i><span style="padding-left: 8px;">Borrar</span></button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="text-center">
            @{
                var prevDisabled = !Model.Paginado.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.Paginado.HasNextPage ? "disabled" : "";
            }

            <a class="btn btn-secondary m-1 @prevDisabled"
               asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pagina="@(Model.Paginado.PaginaActual - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-selectOption="@ViewData["CurrentOption"]">
                <i class="fa-solid fa-angle-left"></i>
            </a>

            Página @Model.Paginado.PaginaActual de @Model.Paginado.TotalPaginas

            <a class="btn btn-secondary m-1 @nextDisabled"
               asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pagina="@(Model.Paginado.PaginaActual + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-selectOption="@ViewData["CurrentOption"]">
                <i class="fa-solid fa-angle-right"></i>
            </a>
        </div>

        @section Scripts {
            <script type="text/javascript">
                function confirmDelete() {
                    return confirm('¿Está seguro de que desea eliminar este producto?');

                }

                function checkPageReload() {//para checkear si se recargo la page
                    if (performance.navigation.type === 1) {
                        let url = new URL(window.location.href);
                        if (!url.searchParams.has('refresh')) {
                            url.searchParams.set('refresh', 'true');
                            window.location.replace(url);
                        }
                    }
                }
                window.onload = checkPageReload;//ni bien se carga ya llama a la funcion
            </script>
        }
