@model WebApp.Models.ViewModels.VentaVM
@{
    ViewData["Title"] = "Registrar Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bienvenido a la sección de Ventas</h1>

@using (Html.BeginForm("Index", "Venta", FormMethod.Get))
{
    <div>
        <label>Categoría:</label>
        @Html.DropDownListFor(m => m.CategoriaID, new SelectList(Model.CategoriaLista, "Id", "Nombre"), "Seleccione una categoría")
    </div>
    <div>
        <label>Nombre del Producto:</label>
        @Html.TextBoxFor(m => m.NombreProducto)
    </div>
    <div>
        <input type="submit" value="Buscar" />
    </div>
}

<ul>
    @foreach (var v in Model.VentaLista)
    {
        <li>Usuario: @v.Usuario.Nombre</li>
        <li>Item: @v.VentaId (@v.Producto.Nombre)</li>
        <li>Fecha: @v.Fecha</li>
        <li>Cantidad: @v.Cantidad</li>
    }
</ul>